*
{
    margin: 0;
    padding: 0;
}
body
{
    background: url(https://wallpaperaccess.com/full/1104558.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    background-color: orange;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
}
.container2
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container input
{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-radius: 20px;
}
.btnBox button
{
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 20px;
}
.btnBox button:hover
{
    background-color: rgb(98, 98, 182);
}
.btnBox #Clear
{
    padding: 10px 25px;
}
.btnBox #Clear:hover
{
    background-color: rgb(98, 98, 182);
}
.container2 p
{
    font-size: 25px;
}